<h1 mat-dialog-title style="text-align:center;">{{tituloMatDialog}}</h1>
<hr>
<div mat-dialog-content>
  <div id="mensajeEstasSeguro">
    <!-- <p class="text-center">¿Estás seguro?</p> -->
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput [formControl]="nombreFormControl" placeholder="..." #txtNombre
      (keyup.enter)="spCongresos_Guardar(txtNombre.value, estadosControl.value);" [readonly]="inputReadOnly">
    <mat-error *ngIf="nombreFormControl.hasError('required')">
      Por favor ingresar un nombre
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="inputReadOnly">
    <mat-label>Estado</mat-label>
    <input type="text" matInput placeholder="..." value="{{data.rowData.Estado===0?'Inactivo':'Activo'}}" [readonly]="inputReadOnly">
    <mat-error *ngIf="estadosControl.hasError('required')">Por favor escoger un estado</mat-error>
  </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="!inputReadOnly">
      <mat-label>Estado</mat-label>
      <mat-select [formControl]="estadosControl" required #slcEstados>
        <mat-option *ngFor="let estado of estados" [value]="estado.Valor">
          {{estado.Nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="estadosControl.hasError('required')">Por favor escoger un estado</mat-error>
      <!-- <mat-hint>{{estadosControl.value?.Nombre}}</mat-hint> -->
    </mat-form-field>
    
  <div id="mensajeBorrarInstructor">
    <!-- <p class="text-center">Se va a borrar el instructor</p> -->
  </div>
</div>
<hr>
<div mat-dialog-actions class="buttonsContainer">
  <button class="btn btnReimprimir" mat-dialog-close="Nuevo">{{configurarBotones.configBotonCancelar}}</button>
  <button class="btn btnAgregar"
    (click)="spCongresos_Guardar(txtNombre.value, estadosControl.value);">{{configurarBotones.configBotonConfirmar}}</button>
</div>