.headerContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    
  }
  .subHeaderContainer{
    border: 2px solid #273646;
    border-bottom: none;
  }
  .divAgrupador{
    padding:2%;
  }
  .btnAgregar {
    border-radius: 4px;
    background-color: #273646;
    color: white;
    /* width: 100%; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
    /* font-size: x-large; */
    /* height: 50px; */
  }
  .btnAgregar:hover{
    background-color: #5c6874;
  }
  
  .btnReimprimir {
    border-radius: 4px;
    background-color: #1b5a4c;
    color: white;
  }
  
  .btnReimprimir:hover {
    background-color: #278f78;
  
  }



  .divWebinar{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #273646;
    color: white;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    height: 50px;
  }

  #btnInscripcion {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #273646;
    color: #273646;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 50px;
  }

  #btnInscripcion:hover {
    background-color: #273646;
    color: white;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 95%;
  }

  #selectCongresos{
    margin:0%;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  